<div id="finished-nominations-banner">You have 5 (or more) nominations. Finished!</div>
<div class="main">
	<h1>The Shoppies</h1>
	<div class="container">
		<p>Movie Title</p>
		<input id="search"></input>
	</div>
	<div class="wrapper">
		<div class="results container">
			<h2 id="results_title">
				Results for "<span id="query"></span>"
			</h2>
			<ul id="results_list">
			</ul>
		</div>
		<div class="nominations container">
			<h2>Nominations</h2>
			<ul id="nominations_list">
			</ul>
		</div>
	</div>
</div>
